/*СИНХРОНИЗИРУЙ МЕНЯ*/

body {
  margin: 0;
  
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  
  background-color: lightgray;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.g-title {
  display: block;
  padding: 5px 0;
  
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
}

.g-title {
  display: flex;
  align-items: center;
}

.g-title::before,
.g-title::after {
  content: "";

  flex-grow: 1;

  width: 20px;
  height: 2px;

  background: #fff;
}

.g-title::before {
  margin-right: 25px;
}

.g-title::after {
  margin-left: 25px;
}

div[id="about-me"],
div[id="price"], 
div[id="works"],
div[id="contacts"] {
  position: absolute;
  top: -55px;
}

.about-me,
.price,
.works,
.contacts {
  position: relative;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  
/*  display: flex;*/
/*  padding: 5px 0;*/
  
  color: #ffffff;
  background-color: #222222;
}

.page-header .wrapper {
  display: flex;
}

.main-nav {
  min-width: 600px;
  margin-right: auto;
/*  margin-left: 5%;*/
}

.nav-list {
  display: flex;
  
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  
/*  transition: scale 0.3s ease;*/
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1 );
  
/*  transform: scale(1.1);*/
}

.nav-item a {
/*  position: relative;*/
  
  display: inline-block;
  padding: 15px;
  
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  
/*  transition: all 0.2s ease;*/
}

.nav-item span {
  position: relative;
  
/*  transition: all 0.2s ease;*/
}

/*
.nav-item:hover span {
  font-size: 30px;
  text-shadow: 10px 10px 10px white;
}
*/

/*
.nav-item:hover a {
  padding: 0;
  margin: 0;
  text-shadow: 10px 10px 10px white;
}
*/

/*
.nav-item a::before {
  content: "";
  
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  
  border-bottom: 4px solid #ffffff;
  margin-left: 5px;
  margin-right: 5px;
}
*/

.short-contacts {
  display: flex;
  justify-content: space-between;
/*  width: 320px;*/
  margin: 5px 0 5px;
  margin-right: 15px;
}

.short-contacts-item {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 5px solid #ffffff;
  margin-left: 15px;
  
  font-size: 0;
  
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.short-contacts .vkontakte {
  background-image: url("../img/icons/icon-vk.svg");
} 

.short-contacts .gmail {
  background-image: url("../img/icons/icon-gm.svg");
} 

.short-contacts .skype {
  background-image: url("../img/icons/icon-sky.svg");
}

.fill {
  width: 46%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.fill--black {
  color: #fff;
  background-color: #222;
}

main.wrapper {
    margin-top: 125px;
}

.main-title {
  display: block;

  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;

  margin-bottom: 65px;
}

.main-title span {
  font-size: 50px;
  line-height: 50px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 10px;
  margin-bottom: 65px;

  background-image: linear-gradient(90deg, #222222 50%, white 50%, white 100%);
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-left: 0 1.5%;

  text-align: center;
}

.features-title {
  margin: 0;
}

.about-me {
  display: flex;
  justify-content: space-between;
/*  padding: 20px 30px 10px;*/
  margin-bottom: 65px;
/*  margin: 20px 0 10px 30px;
  margin: 20px 10px 0 30px;*/
  background-color: #fff;
}

.about-me h2 {
  margin: 0;
}

.about-me .description {
/*  width: 50%;*/
/*  padding: 20px 10px 10px 30px;*/
  color: #fff;
  background-color: #222;
  
  text-transform: none;
  text-align: left;
/*  padding: 0 30px;*/
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  
/*  width: 600px;*/
/*  padding-bottom: 25px;*/
}

.education h2 {
  margin-bottom: 18px;
}

.education-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-title {
  display: block;
  font-size: 22px;
}

.education-description {
  display: block;
  font-size: 17px;
  color: #777777;
  margin-bottom: 10px;
}

.education-certificate {
  position: relative;
  
  width: 384px;
  height: 540px;
  
  background-color: blue;
}

.certificate-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 384px;
  height: 540px;
  
  font-size: 34px;
  line-height: 34px;
  font-weight: bold;
  
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

/*
.certificate-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border: 5px solid #ffffff;
  
  color: #ffffff;
  font: inherit;
  text-decoration: none;
  
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.8);
}
*/

.g-btn--radian {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border: 5px solid #ffffff;
  border-color: #ffffff;
  
  color: #ffffff;
  font: inherit;
  text-decoration: none;

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.8);
}

.g-btn--radian:hover {
  color: #000000;
  font: inherit;
  
  background-color: #ffffff;
}

.g-btn--radian:active {
  box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.8);
}

.g-btn--block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border: 5px solid #ffffff;
  border-color: #ffffff;
  
  color: #ffffff;
  font: inherit;
  text-decoration: none;

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.8);
}

.g-btn--block:hover {
  color: #000000;
  font: inherit;
  
  background-color: #ffffff;
}

.g-btn--block:active {
  transform: scale(0.97);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.8);
}

.education-certificate:hover .certificate-wrapper {
  visibility: visible;
}

.skill-item {
  display: flex;
  justify-content: space-between;
  width: 460px;
  height: 20px;
  margin-bottom: 10px;
}

.skill-skale {
  box-sizing: border-box;
  width: 400px;
  height: 20px;
  border: 2px solid black;
}

.skill-range {
  box-sizing: border-box;
  width: 200px;
  height: 16px;
  
  background-color: #000000;
}

.price {
  display: flex;
  justify-content: space-between;
/*  padding: 20px 30px 10px;*/
  margin-bottom: 65px;
  
  background-color: #fff;
}

.price h2 {
  margin: 0;
}

.price-list {
/*  width: 500px;*/
  
  font-size: 18px;
  text-transform: none;
}

.price-list .g-title {
  margin-bottom: 15px;
}

.price-list h3 {
  margin: 0 0 5px;
  
  text-align: center;
}

.price-types {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.price-types-item {
/*  padding-left: 20px;*/
}

.price-types-item::before {
  content: "-- ";
  padding-left: 10px;
}

.price-list table {
  width: 100%;
  border-collapse: collapse;
/*  border: 1px solid #000000;*/
}

.price-list td {
  padding: 5px;
  border: 1px solid #777;
}

/*/*/*.price-interactive {
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
/*  justify-content: flex-end;*/
/*  width: 500px;*/
/*  padding: 0 50px;*/
}

.label-move {
  position: absolute;
  z-index: 1;
  
  text-transform: none;
  font-size: 15px;
  line-height: 15px;
  
  visibility: hidden;
  opacity: 0;
  
  transition: all 0.3s ease;
}

.label-move-1 {
  top: 159px;
  left: 57px;
/*  left: 53px;*/
}

.label-move-2 {
  top: 226px;
  left: 57px;
/*  left: 53px;*/
}

.price-interactive input[id="ask-sender-mail"]:valid + label[for="ask-sender-mail"] {
  color: #999999;
  
  visibility: visible;
  opacity: 1;
}

/*
.price-interactive textarea[id="ask-details"]:valid + label[for="ask-details"] {
  color: #999999;
  
  visibility: visible;
  opacity: 1;
}
*/

.price-interactive input[id="ask-sender-mail"]:focus + label[for="ask-sender-mail"],
.price-interactive textarea[id="ask-details"]:focus + label[for="ask-details"] {
  color: #5b9ddf;
  
  visibility: visible;
  opacity: 1;
}

.price-interactive input:hover,
.price-interactive textarea:hover {
  box-shadow: 0 0 0 1px #d3d3d2;
}

.price-interactive input:focus,
.price-interactive textarea:focus {
  outline: none;
  border-color: aqua;
  box-shadow: 0 0 5px 0.1px aqua;
}

.price-interactive input:focus::-webkit-input-placeholder {
  color: transparent;
  transition: color 0.3s ease;
}
.price-interactive input:focus::-moz-placeholder {
  color: transparent;
  transition: color 0.3s ease;
}
.price-interactive input:focus:-moz-placeholder {
  color: transparent;
  transition: color 0.3s ease;
}
.price-interactive input:focus:-ms-input-placeholder {
  color: transparent;
  transition: color 0.3s ease;
}

.price-interactive textarea::-webkit-input-placeholder {
  transition: all 0.3s ease;
}

.price-interactive textarea:focus::-webkit-input-placeholder {
  transform: translate(0, -35px);
}

.price-interactive .g-title {
  margin-bottom: 15px;
}

/*
.price-interactive .fieldset-upload span {
  color: #aaaaaa;
  text-transform: none;
}
*/

.price-interactive .fieldset-wrapper {
  display: flex;
  box-sizing: border-box;
  width: 90%;
  margin: 0 5%;
  
/*  color: #aaaaaa;*/
/*  color: #000;*/
/*  text-transform: none;*/
}

.price-interactive .label-upload {
  margin-bottom: 3px;
  
  color: #000;
  text-transform: none;
  text-align: center;
  font-weight: bold;
}

.price-interactive .fieldset {
  box-sizing: border-box;
  width: 90%;
  margin: 0 5%;
}

.fieldset-inputs {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 48%;
  margin-right: 2%;
}

.price-interactive input {
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  padding: 10px;
  border: 2px solid #d3d3d2;
  margin-bottom: 20px;
  
  font-size: 20px;
  line-height: 20px;
  
/*  border-radius: 5px;*/
}

.price-interactive input,
.price-interactive textarea, 
.price-interactive button {
  border-radius: 5px;
/*  border: none;*/
}

.price-interactive input[type="date"] {
  padding: 7px 10px 6px;
}

.fieldset-upload {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 48%;
  margin-left: 2%;
}

.price-interactive button {
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  padding: 10px;
/*  border: 4px solid #000;*/
/*  margin-top: 20px;*/
  
  color: #000;
  font-size: 20px;
  line-height: 20px;
  
/*  border-radius: 25px / 25px;*/
/*  background-color: #9895DD;*/
}

/*

.fieldset-upload {
  box-sizing: border-box;
  width: 90%;
  margin: 0 5%;
}
*/

/*
.fieldset-upload .upload-files {
  
}
*/

.price-interactive textarea {
  box-sizing: border-box;
  width: 90%;
  border: 2px solid #d3d3d2;
  margin: 0 5%;
  padding: 10px;
/*  margin-bottom: 20px;*/
  
  font: inherit;
  font-size: 20px;
  line-height: 20px;
}

.price-interactive .textarea-muted {
  display: block;
  width: 90%;
  margin: 0 5%;
}

.fieldset-send {
  display: flex;
  align-items: center;
  
  height: 60px;
  margin-top: 10px;
/*  margin-bottom: 20px;*/
}

.text-muted {
  align-self: flex-start;
  
  margin-top: 3px;
  margin-bottom: 20px;

  
  color: rgb(129, 138, 145);
  font-size: 13px;
  line-height: 20px;
  text-transform: none;
}

.price-interactive .text-muted {
/*  margin-left: 5px;*/
}

/*
.price-interactive .send-ask-btn {
  width: 60px;
  height: 60px;
  border: 6px solid #5b9ddf;
  margin-bottom: 0;
  
  font-size: 0;
  
  background-color: #fff;
  border-radius: 50%;
  box-shadow: none;
}
*/

.price-interactive .send-ask-btn {
  width: 90px;
  height: 90px;
  border: 6px solid aqua;
  margin-bottom: 0;
  
  font-size: 0;
  
  background-color: #fff;
  border-radius: 50%;
  box-shadow: inset 0 0 10px 2px aqua;
  
  cursor: pointer;
  
  transition: all 0.3s ease-out;
}

.price-interactive .send-ask-btn:hover {
  background-color: aqua;
}

.send-ask-label {
  display: none;
  margin-left: 10px;
  
  color: #5b9ddf;
  font-size: 20px;
  line-height: 20px;
  text-transform: none;
}

.price-iteractive .g-title {
  margin-bottom: 15px;
}*/*/*/

.works {
  padding: 20px 30px 40px;
  margin-bottom: 65px;
  
  background-color: #fff;
}

.works h2 {
  margin: 0;
  margin-bottom: 15px;
}

.works .g-title::before,
.works .g-title::after {
  background: #000;
}

.works-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 1100px;
/*  min-height: 500px;*/
  margin: 0 auto;
}

.works-item {
  position: relative;
  
  width: 300px;
  
  background-color: ;
}

.works-item:nth-of-type(1) {
  height: 605px;
}

.works-item:nth-of-type(2) {
  height: 410px;
}

.works-item:nth-of-type(3) {
  height: 430px;
}

.works-item:last-of-type {
/*  background-color: #000;*/
}

.works-item:last-of-type::before {
  content: "Ваш проект может стать следующим !!!";
  top: 0;
  left: 0;
  right: 0;
  
  display: inline-block;
  border: 5px solid #000;
  
  text-align: center;
  font-size: 40px;
  line-height: 70px;
  font-weight: lighter;
  word-spacing: 50px;
  color: #fff;
  text-shadow:
    3px 3px 0 #000, 
    -2px -2px 0 #000;
}

.works-item-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.works-item-wrapper > * {
  margin-bottom: 20px;
}

/*
.works-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border: 5px solid #aaaaaa;
  
  font: inherit;
  text-decoration: none;
  color: #000000;
  
  border-radius: 50%;
  background-color: #ffffff;
}
*/

.works-item:hover .works-item-wrapper {
  visibility: visible;
}

.contacts {
  color: #fafafa;
  
  background-color: #222222;
}

.contacts .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px 10px;
}

.contacts-links {
  width: 340px;
  
/*  outline: 1px solid red;*/
}

.contacts-links-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

/*
.contacts-links-item::before {
  content: "-- ";
}
*/

.contacts-links-item {
  margin-bottom: 10px;
}

.contacts-links-item .value {
  color: #aaaaaa;
  text-transform: none;
}

/*.massage {
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 510px;
  height: 500px;
  margin-right: 350px;
/*  padding: 0 20px;*/
  
/*  outline: 1px solid red;*/
}

.massage-title,
.contacts-title {
  font-size: 30px;
  line-height: 34px;
  margin: 0;
/*  margin-left: 10px;*/
}

.massage-title {
/*  width: 700px;*/
  margin-bottom: 20px;
}

.massage input {
  padding: 10px 15px;
  border: 2px solid #d3d3d2;
  margin-bottom: 20px;
  
  font-size: 20px;
  line-height: 20px;
  
  overflow: ;
  border-radius: 5px;
}

.massage input:hover,
.massage textarea:hover {
    box-shadow: 0 0 0 1px #d3d3d2;
}

.massage input:focus,
.massage textarea:focus {
    box-shadow: none;
}


.massage label {
  position: absolute;
  z-index: 1;
  
  text-transform: none;
  font-size: 15px;
  line-height: 15px;
  visibility: hidden;
  opacity: 0;
  
  transition: opacity 0.3s ease;
}

.massage label[for="question-name"] {
  top: 38px;
  left: 125px;
}
.massage label[for="question-mail"] {
  top: 105px;
  left: 125px;
}

.massage label[for="question-massage"] {
  top: 172px;
  left: 5px;
  
  transform: translate(0, 15px);
  transition: transform 0.2s ease;
  transition-delay: 0.2s;
}

.massage input[id="question-name"]:valid + label[for="question-name"],
.massage input[id="question-mail"]:valid + label[for="question-mail"], .massage textarea[id="question-massage"]:valid + label[for="question-massage"] {
  color: #999999;
  
  visibility: visible;
  opacity: 1;
  
  transform: translate(0px, 0px);
}

.massage input[id="question-name"]:focus + label[for="question-name"],
.massage input[id="question-mail"]:focus + label[for="question-mail"], .massage textarea[id="question-massage"]:focus + label[for="question-massage"] {
  color: #5b9ddf;
  
  visibility: visible;
  opacity: 1;
}

.massage textarea[id="question-massage"]:focus + label[for="question-massage"] {
  color: #5b9ddf;
  
  visibility: visible;
  transform: translate(0px, 0px);
}

.massage input:focus::-webkit-input-placeholder {
  color: transparent;
  transition: color 0.3s ease;
}
.massage input:focus::-moz-placeholder {
  color: transparent;
  transition: color 0.3s ease;
}
.massage input:focus:-moz-placeholder {
  color: transparent;
  transition: color 0.3s ease;
}
.massage input:focus:-ms-input-placeholder {
  color: transparent;
  transition: color 0.3s ease;
}

.massage textarea::-webkit-input-placeholder {
  transition: all 0.2s ease;
}

.massage textarea:focus::-webkit-input-placeholder {
  transform: translate(0, -28px);
}

.massage textarea {
  position: relative;
  z-index: 2;
  
  width: 500px;
  padding: 10px 15px;
  border: 2px solid #d3d3d2;
  margin-bottom: 20px;
  
  font: inherit;
  font-size: 20px;
  line-height: 20px;
  
  overflow: hidden;
  border-radius: 5px;
}

.massage button {
  width: 250px;
  height: 47px;
  padding: 10px;
  border: none;
  
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #000;
  
  cursor: pointer;
  outline: none;
  border-radius: 10px / 25px;
  box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.8);
  background-color: #ed5b3d;
  background-image: linear-gradient(0deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
}

.massage button:hover {
  background-image: linear-gradient(0deg, rgba(231, 74, 53, 0.1) 0%, rgba(242, 104, 67, 0.1) 100%);
}

.massage button:active {
  box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.8);
  
  transform: scale(0.97);
}*/

/*А этот текст ради другого теста*/
/*Еще тест/

/*ЗАМЕТКИ*/

/*
2. Плавный скролл
5. Промо надпись для портфолио
5.1. Посмотреть вилео про лендинг
6. Оживить формы 
8. Нарезать спрайт
9. Состояния сошилов
10. Хцвер нава по скроллу
12. Исправить сошиал в глейси
12. Сделать продакш-версию глейси и перенести в портфолио
*/

/*
.massage input,
.massage textarea,
.massage button {
  padding: 10px;
  font-size: 18px;
  line-height: 20px;
}
*/

/*
.massage input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  
  font-size: 18px;
  line-height: 20px;
}

.massage textarea {
  height: 180px;
  padding: 10px;
  margin-right: auto;
  
  font-size: 18px;
  line-height: 20px;
}
*/

/*
body {
//  background-color: #0000a5;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  background-color: #F2F2F1;
}

.g-visualy-hidden {
  display: none;
}

.page-header,
main, 
.page-footer {
  outline: 2px dashed black;
  min-height: 500px;
}

.crossroads {
  position: relative;
}

.crossroads__slider-controls {
  position: absolute;
  right: 0;
  
  font-size: 0;
  
  outline: 1px solid black;
}

.crossroads__tuggle {
  display: inline-block;
  font-size: 18px;
}

.crossroads__tuggle::before {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  
  border-radius: 50%;
}

.crossroads__wrapper {
  position: absolute;
  
  display: flex;
  flex-direction: column;
  
  visibility: hidden;
}

.crossroads__btn {
  align-self: center;
}

input[id="crossroads-toggle-1"]:checked ~ .crossroads__wrapper-1,
input[id="crossroads-toggle-2"]:checked ~ .crossroads__wrapper-2,
input[id="crossroads-toggle-3"]:checked ~ .crossroads__wrapper-3 {
  visibility: visible;
}


.page-footer {
  background-color: #222222;
  color: #ffffff;
}

.find-me {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.contacts__title {
  display: block;
  
  font-size: 24px;
  line-height: 28px;
}

.contacts {
  width: 500px;
  outline: 1px solid red;
}

.email-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 300px;
  
  color: #ffffff;
  
  outline: 1px solid red;
}
*/

/*
.modal-feedback-form {
    display: flex;
    flex-direction: column;
}

.modal-feedback-form input {
    height: 48px;
    
    line-height: 18px;
}

.modal-feedback-form input,
.modal-feedback-form textarea {
    box-sizing: border-box;
    height: 48px;
    padding: 10px 15px;
    border: 1px solid #d3d3d2;
    
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    
    border-radius: 5px;
}

.modal-feedback-form textarea {
    font: inherit;
    font-weight: normal;
    line-height: 24px;
}

.modal-feedback-form input:hover,
.modal-feedback-form textarea:hover {
    box-shadow: 0 0 0 1px #d3d3d2;
}

.modal-feedback-form input:focus,
.modal-feedback-form textarea:focus {
    box-shadow: none;
}

.modal-feedback-form {
    position: relative;
}

.modal-feedback-form label[for="fb-name"] {
    position: absolute;
    top: -14px;
    left: 15px;
}

.modal-feedback-form label[for="fb-email"] {
    position: absolute;
    top: 54px;
    left: 15px;
}

.modal-feedback-form label {
    font-size: 11px;
    line-height: 13px;
    font-weight: normal;
    
    visibility: hidden;
    opacity: 0;
    
    transition: all 0.2s ease;
}

.modal-feedback-form input:valid + label {
    color: #999999;
    
    visibility: visible;
    opacity: 1;
}

.modal-feedback-form input:focus + label {
    color: #5b9ddf;
    
    visibility: visible;
    opacity: 1;
}

.modal-feedback-form input:focus::-webkit-input-placeholder {
    color: transparent;
}
.modal-feedback-form input:focus::-moz-placeholder {
    color: transparent;
}
.modal-feedback-form input:focus:-moz-placeholder {
    color: transparent;
}
.modal-feedback-form input:focus:-ms-input-placeholder {
    color: transparent;
}

.modal-feedback span {
    display: block;
    
    margin-bottom: 25px;
    
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

.modal-feedback-form input {
    width: 270px;
    
    margin-bottom: 20px;
}

.modal-feedback-form textarea {
    margin-bottom: 25px;
}

.modal-feedback-form .btn {
    align-self: flex-end;
}
*/
