.box {
  padding: 25px;
  border-radius: 24px;
  color: #3D3D3D;
  background-color: white;

  @media (min-width: 768px) and (max-width: 992px) {
    padding: 35px;
  }

  @media (min-width: 992px) {
    padding: 60px;
  }

  &--height-full {
    height: 100%;
  }

  &--dark {
    color: white;
    background-color: #0E1E31;

    .box__small,
    .box__title {
      color: #50E3C2;
    }
  }

  &--alert {
    display: flex;
    align-items: center;
    padding: 12px 24px;

    color: #F4F5F7;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;

    background-color: #D0021B;
    box-shadow: 0 10px 20px 0 rgba(#D0021B, .3);

    i {
      display: inline-block;
      margin-right: 16px;
    }
  }

  &--video-absolute {
    position: relative;

    padding-bottom: 180px;

    @media (min-width: 768px) {
      padding-bottom: 0;
    }

    .box__video-absolute {
      position: absolute;
      right: 20px;
      bottom: 20px;

      &:hover {
        transform: translate(6px, 6px);
        box-shadow: 0 10px 10px 0 rgba(#D0021B, .3);
      }
    }
  }

  &--bg-book {
    display: flex;
    flex-direction: column;
    padding: 0;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    &::after {
      content: "";
      display: block;

      width: 310px;
      height: 310px;

      background-repeat: no-repeat;
      background-image: url('../../images/bg-box-book-1.webp');
      background-size: cover;
      margin: 35px 8% 0 auto;

      @media (min-width: 768px) {
        margin-top: 85px;
      }
    }
  }

  &__book-descr {
    padding: 20px;
    padding-bottom: 0;

    @media (min-width: 768px) {
      width: 50%;
      padding: 60px;
    }
  }

  &--hero {
    @media (max-width: 767px) {
      background-color: transparent;

      .box__title {
        font-size: 68px;
      }
    }
  }

  &__hero {
    color: #D0021B;
    text-decoration: underline;
  }

  &--feature {
    @media (max-width: 767px) {
      padding-top: 0;
      padding-bottom: 0;
      background-color: transparent;
    }
  }

  &--first-feature {
    @media (max-width: 767px) {
      padding-top: 50px;
    }
  }

  &__italic {
    color: #D0021B;
    font-size: 17px;
    font-weight: 300;
    font-style: italic;

    @media (min-width: 768px) {
      font-size: 24px;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 38px;

    @media (min-width: 768px) {
      font-size: 48px;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 20px;

    font-size: 17.7px;
    line-height: 24px;

    &--mb-xl {
      margin-bottom: 20px;

      @media (min-width: 768px) {
        margin-bottom: 40px;
      }
    }
  }

  &__small {
    margin: 0;
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 500;

    &--red {
      color: #d10014;
    }
  }

  &__icon {
    font-size: 48px;

    &--mb-s {
      margin-bottom: 7px;

      @media (min-width: 768px) {
        margin-bottom: 20px;
      }
    }

    &--size-s {
      font-size: 40px;
    }

    &--red {
      color: #d10014;
    }

    &--blue {
      color: #518ad9;
    }

    &--green {
      color: #95cd20;
    }

    &--yellow {
      color: #f5a921;
    }
  }
}

.box-vertical-holder {
  display: flex;
  flex-direction: column;
  height: 100%;
}
