.page-footer {
  padding: 80px 16px 30px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  &__copyright {
    margin: 0;
    color: #969696;
  }

  &__nav a {
    margin: 0 8px;
    text-decoration: none;
    color: #D0021B;
  }
}
