body {
  margin: 0;
  
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  
  background-color: lightgray;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.g-title {
  display: block;
  padding: 5px 0;
  
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
}

.g-title {
  display: flex;
  align-items: center;
}

.g-title::before,
.g-title::after {
  content: "";

  flex-grow: 1;

  width: 20px;
  height: 2px;

  background: #fff;
}

.g-title::before {
  margin-right: 25px;
}

.g-title::after {
  margin-left: 25px;
}

.fill {
  width: 46%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.fill--black {
  color: #fff;
  background-color: #222;
}


.price-interactive {
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
/*  justify-content: flex-end;*/
/*  width: 500px;*/
/*  padding: 0 50px;*/
}

.label-move {
  position: absolute;
  z-index: 1;
  
  text-transform: none;
  font-size: 15px;
  line-height: 15px;
  
  visibility: hidden;
  opacity: 0;
  
  transition: all 0.3s ease;
}

.label-move-1 {
  top: 159px;
  left: 57px;
/*  left: 53px;*/
}

.label-move-2 {
  top: 226px;
  left: 57px;
/*  left: 53px;*/
}

.price-interactive input[id="ask-sender-mail"]:valid + label[for="ask-sender-mail"] {
  color: #999999;
  
  visibility: visible;
  opacity: 1;
}

/*
.price-interactive textarea[id="ask-details"]:valid + label[for="ask-details"] {
  color: #999999;
  
  visibility: visible;
  opacity: 1;
}
*/

.price-interactive input[id="ask-sender-mail"]:focus + label[for="ask-sender-mail"],
.price-interactive textarea[id="ask-details"]:focus + label[for="ask-details"] {
  color: #5b9ddf;
  
  visibility: visible;
  opacity: 1;
}

.price-interactive input:hover,
.price-interactive textarea:hover {
  box-shadow: 0 0 0 1px #d3d3d2;
}

.price-interactive input:focus,
.price-interactive textarea:focus {
  outline: none;
  border-color: aqua;
  box-shadow: 0 0 5px 0.1px aqua;
}

.price-interactive input:focus::-webkit-input-placeholder {
  color: transparent;
  transition: color 0.3s ease;
}
.price-interactive input:focus::-moz-placeholder {
  color: transparent;
  transition: color 0.3s ease;
}
.price-interactive input:focus:-moz-placeholder {
  color: transparent;
  transition: color 0.3s ease;
}
.price-interactive input:focus:-ms-input-placeholder {
  color: transparent;
  transition: color 0.3s ease;
}

.price-interactive textarea::-webkit-input-placeholder {
  transition: all 0.3s ease;
}

.price-interactive textarea:focus::-webkit-input-placeholder {
  transform: translate(0, -35px);
}

.price-interactive .g-title {
  margin-bottom: 15px;
}

/*
.price-interactive .fieldset-upload span {
  color: #aaaaaa;
  text-transform: none;
}
*/

.price-interactive .fieldset-wrapper {
  display: flex;
  box-sizing: border-box;
  width: 90%;
  margin: 0 5%;
  
/*  color: #aaaaaa;*/
/*  color: #000;*/
/*  text-transform: none;*/
}

.price-interactive .label-upload {
  margin-bottom: 3px;
  
  color: #000;
  text-transform: none;
  text-align: center;
  font-weight: bold;
}

.price-interactive .fieldset {
  box-sizing: border-box;
  width: 90%;
  margin: 0 5%;
}

.fieldset-inputs {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 48%;
  margin-right: 2%;
}

.price-interactive input {
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  padding: 10px;
  border: 2px solid #d3d3d2;
  margin-bottom: 20px;
  
  font-size: 20px;
  line-height: 20px;
  
/*  border-radius: 5px;*/
}

.price-interactive input,
.price-interactive textarea, 
.price-interactive button {
  border-radius: 5px;
/*  border: none;*/
}

.price-interactive input[type="date"] {
  padding: 7px 10px 6px;
}

.fieldset-upload {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 48%;
  margin-left: 2%;
}

.price-interactive button {
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  padding: 10px;
/*  border: 4px solid #000;*/
/*  margin-top: 20px;*/
  
  color: #000;
  font-size: 20px;
  line-height: 20px;
  
/*  border-radius: 25px / 25px;*/
/*  background-color: #9895DD;*/
}

/*

.fieldset-upload {
  box-sizing: border-box;
  width: 90%;
  margin: 0 5%;
}
*/

/*
.fieldset-upload .upload-files {
  
}
*/

.price-interactive textarea {
  box-sizing: border-box;
  width: 90%;
  border: 2px solid #d3d3d2;
  margin: 0 5%;
  padding: 10px;
/*  margin-bottom: 20px;*/
  
  font: inherit;
  font-size: 20px;
  line-height: 20px;
}

.price-interactive .textarea-muted {
  display: block;
  width: 90%;
  margin: 0 5%;
}

.fieldset-send {
  display: flex;
  align-items: center;
  
  height: 60px;
  margin-top: 10px;
/*  margin-bottom: 20px;*/
}

.text-muted {
  align-self: flex-start;
  
  margin-top: 3px;
  margin-bottom: 20px;

  
  color: rgb(129, 138, 145);
  font-size: 13px;
  line-height: 20px;
  text-transform: none;
}

.price-interactive .text-muted {
/*  margin-left: 5px;*/
}

/*
.price-interactive .send-ask-btn {
  width: 60px;
  height: 60px;
  border: 6px solid #5b9ddf;
  margin-bottom: 0;
  
  font-size: 0;
  
  background-color: #fff;
  border-radius: 50%;
  box-shadow: none;
}
*/

.price-interactive .send-ask-btn {
  width: 90px;
  height: 90px;
  border: 6px solid aqua;
  margin-bottom: 0;
  
  font-size: 0;
  
  background-color: #fff;
  border-radius: 50%;
  box-shadow: inset 0 0 10px 2px aqua;
  
  cursor: pointer;
  
  transition: all 0.3s ease-out;
}

.price-interactive .send-ask-btn:hover {
  background-color: aqua;
}

.send-ask-label {
  display: none;
  margin-left: 10px;
  
  color: #5b9ddf;
  font-size: 20px;
  line-height: 20px;
  text-transform: none;
}

.price-iteractive .g-title {
  margin-bottom: 15px;
}