@mixin wrapper {
//  display: flex;
//  flex-grow: 1;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  
  //temporary
//  background-color: red;
  
  @media (max-width: $screen-lg) {
    padding: 0 130px;
  }
  
  @media (max-width: $screen-mp) {
    padding: 0 20px;
  }
  
  @media (max-width: $screen-xs) {
    padding: 0 0;
  }  
}

@mixin margin-right($margin-right) {
  &:not(:last-of-type) {
    margin-right: $margin-right;
  }
}

@mixin margin-bottom($margin-bottom) {
  &:not(:last-of-type) {
    margin-bottom: $margin-bottom;
  }
}

@mixin radial($size) {
  width: $size;
  height: $size;
  border: 1px solid $gray-light;
  
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

@mixin btn($background, $border-radius) {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  
  color: inherit;
  text-decoration: none;
  
  border-radius: $border-radius;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  background: $background;
}

@mixin media-ball {
    &::before {
    content: "";

    position: fixed;
    top: 10px;
    right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 3px solid darkgreen;

    color: #fff;

    border-radius: 50%;
    background-color: green;

    transition: 0.2s ease;

    @media (min-width: $screen-lg) {
      content: "mlg";
    }

    @media (max-width: $screen-lg) {
      content: "lg";
    }

    @media (max-width: $screen-mp) {
      content: "mp";
    }

    @media (max-width: $screen-sm) {
      content: "sm";
    }

    @media (max-width: $screen-xs) {
      content: "xs";
    }
  }
}