@mixin font-h1($text-color) {
  
  color: $text-color;
  font-family: $font-family--h1;
  font-size: $font-size--h1;
  line-height: $line-height--h1;
  font-weight: $font-weight--h1;
  text-transform: uppercase;
}

@mixin font-h2($text-color) {
  margin: -9px 0;
  
  color: $text-color;
  font-family: $font-family--h2;
  font-size: $font-size--h2;
  line-height: $line-height--h2;
  text-align: center;
  font-weight: $font-weight--h2;
  text-transform: uppercase;
}

@mixin font-h3($text-color) {
  color: $text-color;
  font-family: $font-family--h3;
  font-size: $font-size--h3;
  text-align: center;
  line-height: $line-height--h3;
  font-weight: $font-weight--h3;
}

@mixin font-p($text-color) {
  color: $text-color;
  font-family: $font-family--p;
  font-size: $font-size--p;
  line-height: $line-height--p;
  font-weight: $font-weight--p;
}

@mixin font($text-color, $font-size) {
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $font-size;
  font-weight: 400;
}
