//colors

$color-second: #222;

$color-main: #fff;

$gray-light: #818a91;

  //static
    $black: #000;

//fonts

$font-family: "Muli", sans-serif;
$font-family--h2: "Open Sans", sans-serif;
$font-family--p: "Muli", sans-serif;

//UI
$interactive-img__target--font-family: "Open Sans", sans-serif;
$interactive-img__target--font-size: 30px;
$interactive-img__target--font-weight: 700;
$interactive-img__target--text-transform: uppercase;