.mp-g-hidden {
  visibility: hidden;
  opacity: 0;
}
.ajs-come-left {
  animation-name: come-left;
  animation-duration: 1.5s;
}
.ajs-leave-left {
  animation-name: leave-left;
  animation-duration: 1.5s;
}
@keyframes come-left {
  0% {
    transform: translate(-1000px, 0);
  }
  70% {
    transform: translate(30px, 0);
  }
  90% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes leave-left {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-1000px, 0);
  }
}
.beast-branch {
  position: fixed;
  left: 2%;
  top: 5%;
  z-index: 2000;
  font-weight: normal;
}
.beast-branch__controls {
  display: flex;
}
.beast-branch__btn {
  display: inline-block;
  width: 55px;
  height: 55px;
  border: none;
  margin-right: 5px;
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 0;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  background-color: #222222;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  transition: 0.1 ease;
}
.beast-branch__btn:hover {
  background-color: #3c3c3c;
}
.beast-branch__btn:active {
  transform: scale(0.97);
}
.beast-branch__btn-exit {
  background-image: url("../img/icon-back-2(32).png");
  background-position: 9px center;
  background-repeat: no-repeat;
}
.beast-branch__btn-visibility--hidden {
  background-image: url("../img/icon-hide-b(32).png");
  background-position: 12px center;
  background-repeat: no-repeat;
}
.beast-branch__btn-visibility--visible {
  background-image: url("../img/icon-hide-a(32).png");
  background-position: 12px center;
  background-repeat: no-repeat;
}
.modal-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  background-color: #222222;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  transition: 0.35s ease;
}
.modal-price__title {
  margin: 10px 15px 5px;
}
.modal-price__sub-title {
  display: inline-block;
  align-self: center;
  margin: 5px 0;
  color: #b3b3b3;
  font-size: 16px;
  font-weight: bold;
}
.modal-price__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  margin: 0;
  list-style: none;
}
.modal-price__list:last-of-type {
  padding-bottom: 10px;
}
.modal-price__item {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
}
.modal-price__item--line-through {
  position: relative;
  opacity: 0.5;
}
.modal-price__item--line-through::before {
  content: '';
  position: absolute;
  left: -10px;
  right: -10px;
  top: 50%;
  height: 1.3px;
  margin-top: -1.3px;
  background-color: #ffffff;
}
.modal-price__range-list {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 15px 15px;
  background-color: #6f6f6f;
}
.modal-price__range-item {
  display: flex;
  height: 40px;
  margin-right: 10px;
}
.modal-price__range-item:last-of-type {
  margin-right: 0;
}
.modal-price__range-item-logo {
  display: inline-block;
  order: 2;
  width: 40px;
  height: 40px;
  color: #ffffff;
  text-align: center;
  font-size: 45px;
  line-height: 45px;
  cursor: default;
}
.modal-price__range-item-logo--time {
  font-size: 40px;
}
.modal-price__range-item-value {
  order: 1;
  color: #222222;
  font-size: 45px;
  line-height: 45px;
}
