html,
body {
  box-sizing: border-box;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 17px;
}
* {
  box-sizing: inherit;
}
.g-wrapper {
  width: 940px;
  margin: 0 auto;
}
.g-landing-section__header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  color: #32425c;
  background-color: #f1f5f7;
}
.g-landing-section__title {
  margin: 0;
}
.g-landing-section a {
  color: #ffffff;
  text-decoration: none;
}
.g-landing-section__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  padding: 0;
  border: none;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: ease 0.2s;
  width: 250px;
  margin-left: auto;
  color: #ffffff;
  background-color: #ee3643;
}
.g-landing-section__btn:hover {
  background-color: #de1321;
}
.g-landing-section__btn:active {
  background-color: #c7111e;
}
.page-header {
  background-color: #f1f5f7;
}
.page-header__top-section {
  background-color: #293449;
}
.page-header__top-section .g-wrapper {
  display: flex;
  justify-content: space-between;
}
.page-header__bottom-section {
  padding-bottom: 60px;
  background-color: #f1f5f7;
}
.page-header__logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 42px;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
}
.page-header__logo::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 5px;
  background-color: #c7111e;
}
.page-header__product-block {
  display: flex;
  flex-grow: 2;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}
.page-header__product-block-search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  padding-left: 13px;
  margin-left: 17px;
  cursor: pointer;
}
.page-header__product-block-search .form-item__label {
  cursor: pointer;
}
.page-header__product-block-search .form-item__input {
  border: none;
  background-color: transparent;
  outline: none;
}
.page-header__product-block-search .form-item__label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 17px;
  height: 17px;
  margin-top: -9px;
  background-image: url("../img/icons/icon-search-hover.png");
  opacity: 0.7;
  cursor: pointer;
}
.page-header__product-block-search:hover .form-item__label::before {
  opacity: 1;
}
.page-header a {
  color: #ffffff;
  text-decoration: none;
}
.page-header__product-block-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 42px;
  padding-left: 13px;
}
.page-header__product-block-item:hover {
  background-color: #202839;
}
.page-header__product-block-item:active {
  background-color: #1c2432;
}
.page-header__product-block-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17px;
  width: 17px;
  height: 17px;
  margin-top: -9px;
  background-repeat: no-repeat;
}
.page-header__product-block-item:nth-of-type(1)::before {
  background-image: url("../img/icons/icon-bookmark-hover.png");
  opacity: 0.7;
}
.page-header__product-block-item:nth-of-type(2)::before {
  background-image: url("../img/icons/icon-basket-hover.png");
  opacity: 0.7;
}
.page-header__product-block-item:hover::before {
  opacity: 1;
}
.page-header__product-block-item:hover::before {
  opacity: 0.8;
}
.page-header__product-block-item:nth-of-type(3) {
  padding-left: 0;
  background-color: #63a63e;
}
.page-header__product-block-item:nth-of-type(3):hover {
  background-color: #5fbb2d;
}
.page-header__product-block-item:nth-of-type(3):active {
  background-color: #518534;
}
.page-header__middle-section {
  display: flex;
  background-color: #f1f5f7;
}
.page-header__shop-promo {
  margin: 50px 71px 45px 50px;
  width: 195px;
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
}
.page-header__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 70px;
}
.page-header__contacts-phone {
  position: relative;
  display: inline-block;
  padding: 13px 52px 11px 74px;
  border: 3px solid #ffffff;
  margin-top: 46px;
  color: #ee3643;
  font-size: 21px;
  line-height: 18px;
  font-weight: 400;
}
.page-header__contacts-phone::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 13px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icons/icon-phone.png");
}
.page-header__contacts-adress {
  margin-top: 10px;
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.page-header__user-block {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.page-header__user-btn {
  height: 45px;
  padding: 13px 15px;
  border: none;
  margin-top: 46px;
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  line-height: 18px;
  background-color: #fff;
  transition: ease 0.2s;
}
.page-header__user-btn:not(:last-of-type) {
  margin-right: 10px;
}
.page-header__user-btn:nth-of-type(1) {
  position: relative;
  padding-left: 45px;
}
.page-header__user-btn:nth-of-type(1)::before {
  content: '';
  position: absolute;
  left: 14px;
  top: 14px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icons/icon-login.png");
}
.page-header__user-btn:nth-of-type(1):hover::before {
  color: #ee3643;
  background-image: url("../img/icons/icon-login-hover.png");
}
.page-header__user-btn:nth-of-type(1):active::before {
  color: #ee3643;
  background-image: url("../img/icons/icon-login-active.png");
}
.page-header__user-btn:nth-of-type(2) {
  width: 150px;
}
.page-header__user-btn:hover {
  color: #ee3643;
}
.page-header__user-btn:active {
  color: #666666;
}
.page-header__main-nav-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  background-color: #32425c;
}
.page-header__main-nav-list::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 5px;
  background-color: #202839;
}
.page-header__main-nav-list-item {
  width: 127px;
  height: 60px;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
}
.page-header__main-nav-list-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
}
.page-header__main-nav-list-item a:hover {
  background-color: #273246;
}
.page-header__main-nav-list-item a:active {
  color: #bfbfbf;
  background-color: #232d3f;
}
#categories-toggle-1:checked ~ .categories__slider-pegination .categories__slider-pegination-item:nth-of-type(1),
#categories-toggle-2:checked ~ .categories__slider-pegination .categories__slider-pegination-item:nth-of-type(2) {
  background-color: #ee3643;
}
#categories-toggle-1:checked ~ .categories__slider-items .categories__slider-item {
  transform: translateX(0);
}
#categories-toggle-2:checked ~ .categories__slider-items .categories__slider-item {
  transform: translateX(-620px);
}
.categories {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 410px;
}
.categories__slider {
  position: relative;
  width: 620px;
  height: 266px;
  margin-right: 20px;
}
.categories__toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 5;
  display: inline-block;
  width: 150px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.categories__toggle-1 {
  left: 0;
  background-position: 0 0,
      20px center;
  background-image: linear-gradient(rgba(0, 0, 0, 0), transparent), url("../img/arrow-left.png");
}
.categories__toggle-1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), transparent), url("../img/arrow-left.png");
}
.categories__toggle-2 {
  right: 0;
  background-position: 0 0,
      110px center;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0)), url("../img/arrow-right.png");
}
.categories__toggle-2:hover {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2)), url("../img/arrow-right.png");
}
.categories__slider-pegination {
  position: absolute;
  left: 50%;
  bottom: 35px;
  z-index: 4;
  display: flex;
  margin-left: -17px;
}
.categories__slider-pegination-item {
  width: 7px;
  height: 7px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  transition: ease-out 0.2s;
}
.categories__slider-pegination-item:not(:last-of-type) {
  margin-right: 10px;
}
.categories__slider-items {
  display: flex;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-shadow: 1px 1px 3px #000;
  overflow: hidden;
}
.categories__slider-item {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  padding: 25px 25px 20px;
  transition: ease-out 0.2s;
}
.categories__slider-item:nth-of-type(1) {
  background-color: #453e3e;
  background-image: url("../img/slider-item-2b.jpg");
}
.categories__slider-item:nth-of-type(2) {
  background-color: #453e3e;
  background-image: url("../img/slideer-item-1b.jpg");
}
.categories__slider-item-title {
  display: block;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.categories__slider-item-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.categories__slider-item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  padding: 0;
  border: none;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: ease 0.2s;
  position: absolute;
  left: 25px;
  bottom: 25px;
  z-index: 6;
  width: 195px;
  color: #ffffff;
  background-color: #ee3643;
}
.categories__slider-item-btn:hover {
  background-color: #de1321;
}
.categories__slider-item-btn:active {
  background-color: #c7111e;
}
.categories__item {
  box-sizing: border-box;
  width: 300px;
  height: 123px;
  padding: 22px 25px;
}
.categories__item-title {
  display: block;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.categories__item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  padding: 0;
  border: none;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: ease 0.2s;
  width: 135px;
  margin-top: 15px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}
.categories__item-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.categories__item-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.categories__list-top {
  display: flex;
}
.categories__list-top .categories__item {
  margin-right: 20px;
  margin-bottom: 20px;
}
.categories__list-top .categories__item:last-of-type {
  margin-right: 0;
}
.categories__list-top .categories__item:nth-of-type(1) {
  background-image: url("../img/categories-logo-1.png");
  background-repeat: no-repeat;
  background-position: 213px center;
  background-color: #f6b22d;
}
.categories__list-top .categories__item:nth-of-type(2) {
  background-image: url("../img/categories-logo-2.png");
  background-repeat: no-repeat;
  background-position: 197px center;
  background-color: #4aafde;
}
.categories__list-top .categories__item:nth-of-type(3) {
  background-image: url("../img/categories-logo-3.png");
  background-repeat: no-repeat;
  background-position: 191px center;
  background-color: #cc79d1;
}
.categories__list-bottom .categories__item {
  margin-bottom: 20px;
}
.categories__list-bottom .categories__item:last-of-type {
  margin-bottom: 0;
}
.categories__list-bottom .categories__item:nth-of-type(1) {
  background-image: url("../img/categories-logo-4.png");
  background-repeat: no-repeat;
  background-position: 196px center;
  background-color: #85d179;
}
.categories__list-bottom .categories__item:nth-of-type(2) {
  background-image: url("../img/categories-logo-5.png");
  background-repeat: no-repeat;
  background-position: 191px center;
  background-color: #f6b22d;
}
.popular-products {
  margin-bottom: 20px;
}
.popular-products__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 340px;
}
.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 320px;
  border: 1px solid #e5e5e5;
  font-family: "PT Sans";
  overflow: hidden;
  transition: ease-out 0.2s;
}
.product-card:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}
.product-card:hover .product-card__controls {
  visibility: visible;
  opacity: 1;
}
.product-card__index-label {
  position: absolute;
  top: 5px;
  right: -30px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 26px;
  color: #ffffff;
  font-size: 14px;
  background-color: #ee3643;
  transform: rotate(45deg);
}
.product-card__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
  background-color: #ffffff;
}
.product-card__controls {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 158px;
  font-family: "Cuprum";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #ffffff;
  transition: ease-out 0.2s;
}
.product-card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  padding: 0;
  border: none;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: ease 0.2s;
  width: 135px;
}
.product-card__btn:nth-child(1) {
  position: relative;
  padding-left: 9px;
  margin-bottom: 7px;
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;
}
.product-card__btn:nth-child(1):hover {
  background-color: #6eb945;
}
.product-card__btn:nth-child(1):active {
  background-color: #4d8130;
  box-shadow: none;
}
.product-card__btn:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 12px;
  width: 17px;
  height: 16px;
  background-image: url("../img/icons/icon-basket-hover.png");
  opacity: 0.7;
}
.product-card__btn:nth-child(2) {
  border: 3px solid #63a63e;
  color: #000000;
  background-color: #ffffff;
}
.product-card__btn:nth-child(2):hover {
  border: 3px solid #3b4b6a;
}
.product-card__btn:nth-child(2):active {
  color: #cccccc;
  border: 3px solid #cccccc;
}
.product-card__name {
  margin-top: 13px;
  margin-bottom: 13px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}
.product-card__price-old {
  margin-bottom: 13px;
  color: #bfbfbf;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}
.product-card__price-relevant {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  padding-left: 20px;
  margin-left: -20px;
  margin-bottom: 19px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.product-card__price-relevant::after {
  content: '';
  position: absolute;
  top: 0px;
  right: -40px;
  border-left: 20px solid #ee3643;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.popular-brands {
  margin-bottom: 85px;
}
.popular-brands__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.popular-brands__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  transition: ease-out 0.2s;
}
.popular-brands__item:nth-of-type(4n) {
  margin-right: 0;
}
.popular-brands__item:nth-of-type(n+4) {
  margin-bottom: 0;
}
.popular-brands__item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}
.popular-brands__item:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}
.slider__item-1,
.slider__item-2,
.slider__item-3 {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.slider #slider-features-1:checked ~ .slider__item-1,
.slider #slider-features-2:checked ~ .slider__item-2,
.slider #slider-features-3:checked ~ .slider__item-3 {
  position: static;
  z-index: 1;
  opacity: 1;
}
.slider #slider-features-1:checked ~ .slider__controls .slider__toggle:nth-of-type(1) label,
.slider #slider-features-2:checked ~ .slider__controls .slider__toggle:nth-of-type(2) label,
.slider #slider-features-3:checked ~ .slider__controls .slider__toggle:nth-of-type(3) label {
  color: #293449;
  background-color: #ffffff;
  box-shadow: none;
}
.slider #slider-features-1:checked ~ .slider__controls .slider__toggle:nth-of-type(1) label:hover,
.slider #slider-features-2:checked ~ .slider__controls .slider__toggle:nth-of-type(2) label:hover,
.slider #slider-features-3:checked ~ .slider__controls .slider__toggle:nth-of-type(3) label:hover {
  color: #293449;
  background-color: #ffffff;
  cursor: default;
}
.features {
  padding-top: 70px;
  color: #000000;
  background-color: #f2f6f8;
}
.features__description-title {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.features__description {
  display: block;
  width: 400px;
  margin: 0;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.features__list-wrapper {
  display: flex;
  margin-top: 75px;
}
.features__list {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 180px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.features__list::after {
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 15;
  width: 10px;
  height: 279px;
  background-image: url("../img/decoration-features-shadow.png");
  background-position: center center;
}
.features__list-item {
  width: 240px;
  height: 60px;
}
.features__list-item label {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  background-color: #293449;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  transition: ease 0.2s;
}
.features__list-item label:hover {
  color: #ffffff;
  background-color: #232d3f;
  cursor: pointer;
}
.features__item {
  flex-grow: 2;
  width: auto;
  height: 262px;
  padding-left: 80px;
  font-weight: 400;
  line-height: 24px;
}
.features__item:nth-of-type(1) {
  background-image: url(../img/features-1.png);
  background-repeat: no-repeat;
  background-position: 231px center;
}
.features__item:nth-of-type(2) {
  background-image: url(../img/features-2.png);
  background-repeat: no-repeat;
  background-position: 310px top;
}
.features__item:nth-of-type(3) {
  background-image: url(../img/features-3.png);
  background-repeat: no-repeat;
  background-position: 231px center;
}
.features__item-title {
  display: block;
  color: #32425c;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
.features__item-description {
  width: 275px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
}
.features__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  padding: 0;
  border: none;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: ease 0.2s;
  width: 195px;
  color: #ffffff;
  background-color: #ee3643;
}
.features__btn:hover {
  background-color: #de1321;
}
.features__btn:active {
  background-color: #c7111e;
}
.about-us-and-contacts {
  display: flex;
  padding-top: 80px;
  padding-bottom: 85px;
}
.about-us {
  width: 520px;
  margin-right: auto;
  color: #000000;
  font-weight: 400;
}
.about-us__title {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.about-us__description {
  margin: 0;
  margin-bottom: 25px;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
}
.about-us__delivery-prologue {
  margin-bottom: 25px;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
}
.about-us__delivery-list {
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
  list-style: none;
}
.about-us__delivery-item {
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 20px;
}
.about-us__delivery-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}
.about-us__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  padding: 0;
  border: none;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: ease 0.2s;
  width: 220px;
  color: #ffffff;
  background-color: #ee3643;
}
.about-us__btn:hover {
  background-color: #de1321;
}
.about-us__btn:active {
  background-color: #c7111e;
}
.contacts {
  width: 300px;
  color: #000000;
  font-weight: 400;
  line-height: 24px;
}
.contacts__title {
  display: block;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.contacts__description {
  margin: 0;
  margin-bottom: 34px;
  font-family: "PT Sans";
  font-size: 13px;
}
.contacts .location {
  width: 300px;
  height: 158px;
  margin-bottom: 42px;
  cursor: pointer;
}
.contacts__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  padding: 0;
  border: none;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: ease 0.2s;
  width: 300px;
  color: #ffffff;
  background-color: #ee3643;
}
.contacts__btn:hover {
  background-color: #de1321;
}
.contacts__btn:active {
  background-color: #c7111e;
}
.page-footer {
  color: #e6e6e6;
  background-color: #3b4b6a;
}
.page-footer__top-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
}
.page-footer__logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 65px;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
}
.page-footer__logo::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 5px;
  background-color: #c7111e;
}
.page-footer__short-nav {
  margin-top: 40px;
}
.page-footer__short-nav-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 550px;
}
.page-footer__short-nav-list a {
  color: #ffffff;
  text-decoration: none;
}
.page-footer__short-nav-list a:hover {
  text-decoration: underline;
}
.page-footer__short-nav-list a:active {
  text-decoration: none;
  opacity: 0.5;
}
.page-footer__middle-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-bottom: 50px;
}
.page-footer__adress {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.page-footer__catalog-nav-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 525px;
}
.page-footer__catalog-nav-list a {
  color: #ffd180;
  text-decoration: none;
}
.page-footer__catalog-nav-list a:hover {
  text-decoration: underline;
}
.page-footer__catalog-nav-list a:active {
  text-decoration: none;
  opacity: 0.5;
}
.page-footer__bottom-section {
  padding: 35px 0;
  background-color: #293449;
}
.page-footer__social {
  display: flex;
  justify-content: center;
  margin: 0;
}
.page-footer__social-item {
  width: 41px;
  height: 41px;
  margin-right: 5px;
  font-size: 0;
  background-color: #202839;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: ease 0.1s;
}
.page-footer__social-item:last-of-type {
  margin-right: 0;
}
.page-footer__social-item:nth-of-type(1) {
  background-image: url("../img/icons/icon-social-vk.png");
}
.page-footer__social-item:nth-of-type(2) {
  background-image: url("../img/icons/icon-social-f.png");
}
.page-footer__social-item:nth-of-type(3) {
  background-image: url("../img/icons/icon-social-i.png");
}
.page-footer__social-item:hover {
  background-color: #ee3643;
}
.page-footer__social-item:active {
  background-color: #ee3643;
  transform: scale(0.95);
}
.page-footer__contacts-links {
  display: flex;
}
.page-footer__contacts-links a {
  color: #ffd180;
  text-decoration: none;
}
.page-footer__contacts-links a:hover {
  text-decoration: underline;
}
.page-footer__contacts-links a:active {
  color: #ee3643;
}
.page-footer__contacts-link {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.page-footer__contacts-link:first-of-type {
  margin-right: auto;
}
.page-footer__contacts-link:last-of-type {
  margin-right: 15px;
}
.page-footer__contacts-link-way {
  color: #ffd180;
  text-transform: none;
}
.md-map {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 49;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.35s ease;
}
.md-map__container {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  width: 940px;
  height: 446px;
  margin-top: -223px;
  margin-left: -470px;
}
.md-map__exit {
  position: absolute;
  right: -35px;
  top: 8px;
  width: 25px;
  height: 22px;
  border: none;
  font-size: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: ease 0.2s;
}
.md-map__exit::before,
.md-map__exit::after {
  content: "";
  position: absolute;
  right: 0;
  z-index: 50;
  height: 4px;
  width: 27px;
  background-color: #ee3643;
}
.md-map__exit::before {
  transform: rotate(45deg);
}
.md-map__exit::after {
  transform: rotate(-45deg);
}
.md-map__exit:hover {
  transform: scale(1.1);
}
.md-map__exit:active {
  transform: scale(0.9);
}
.md-feedback {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 49;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.35s ease;
}
.md-feedback__exit {
  position: absolute;
  right: -35px;
  top: 8px;
  width: 25px;
  height: 22px;
  border: none;
  font-size: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: ease 0.2s;
}
.md-feedback__exit::before,
.md-feedback__exit::after {
  content: "";
  position: absolute;
  right: 0;
  z-index: 50;
  height: 4px;
  width: 27px;
  background-color: #ee3643;
}
.md-feedback__exit::before {
  transform: rotate(45deg);
}
.md-feedback__exit::after {
  transform: rotate(-45deg);
}
.md-feedback__exit:hover {
  transform: scale(1.1);
}
.md-feedback__exit:active {
  transform: scale(0.9);
}
.md-feedback__container {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  width: 620px;
  height: 430px;
  margin-top: -215px;
  margin-left: -310px;
  border-top: 7px solid #ee3643;
  background-color: #ffffff;
}
.md-feedback__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.md-feedback__form-fieldset {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin: 55px auto 37px auto;
}
.md-feedback__block-email {
  margin-left: auto;
}
.md-feedback__block-massage {
  width: 100%;
}
.md-feedback__block-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  background-color: #f1f5f7;
}
.md-feedback__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  padding: 0;
  border: none;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: ease 0.2s;
  width: 460px;
  color: #ffffff;
  background-color: #ee3643;
}
.md-feedback__btn:hover {
  background-color: #de1321;
}
.md-feedback__btn:active {
  background-color: #c7111e;
}
.md-feedback .form-item {
  display: flex;
  flex-direction: column;
}
.md-feedback .form-item:not(:last-of-type) {
  margin-bottom: 20px;
}
.md-feedback .form-item__label {
  margin-bottom: 13px;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.md-feedback .form-item__input {
  width: 220px;
  height: 40px;
  padding: 13px 16px;
  border: 2px solid #b3b3b3;
  font-family: "PT Sans";
  color: #b3b3b3;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.md-feedback .form-item__textarea {
  height: 115px;
  padding: 13px 16px;
  border: 2px solid #b3b3b3;
  font-family: "PT Sans";
  color: #b3b3b3;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.g-hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
