extends /../1 layout/work.layout.jade

block time
  span.modal-price__range-item-value 14
  
block price
  span.modal-price__range-item-value 1120

block features
  h2.modal-price__title Вёрстка для wadge.ru
  ul.modal-price__list
    lh.modal-price__sub-title Базовые
    li(class="modal-price__item") Кроссбраузерность
    li(class="modal-price__item  #{cross}") Прогрессивное улучшение
    li(class="modal-price__item  #{cross}") Оптимизированная скорость
    li(class="modal-price__item") Адаптивность(mobile-first)
  ul.modal-price__list
    lh.modal-price__sub-title Дополнительные
    li(class="modal-price__item") Работа с чужим кодом
    li(class="modal-price__item") Работа с inSales
    li(class="modal-price__item  #{cross}") Семантичность
    li(class="modal-price__item  #{cross}") Пиксель-перфект
  ul.modal-price__list
    lh.modal-price__sub-title Техническое задание
    li(class="modal-price__item") Переработка макета inSales
    li(class="modal-price__item") Добавление новых блоков
    li(class="modal-price__item") Новая цветовая гамма
    li(class="modal-price__item") Добавление виджетов VK
    li(class="modal-price__item") Доработка логотипа
    
