extends /../1 layout/work.layout.jade

block time
  span.modal-price__range-item-value 20
  
block price
  span.modal-price__range-item-value 1680

block features
  h2.modal-price__title Верстка для trenager.com
  ul.modal-price__list
    lh.modal-price__sub-title Проделанная работа
    li(class="modal-price__item") Базовая верстка по макету
    lh.modal-price__sub-title Интеграция сервисов
    li(class="modal-price__item") Стандартная карта Google
    lh.modal-price__sub-title Базовые функции
    li(class="modal-price__item") Кроссбраузерность (IE11+)
    li(class="modal-price__item") Адаптивность(mobile-first)
    
block date
  span.modal-price__date-value 29.04.2017
    
