extends /../1 layout/work.layout.jade

block time
  span.modal-price__range-item-value 18
  
block price
  span.modal-price__range-item-value 1460

block features
  h2.modal-price__title Верстка бесплатного макета
  ul.modal-price__list
    lh.modal-price__sub-title Проделанная работа
    li(class="modal-price__item") Базовая верстка по макету
    li(class="modal-price__item") Верстка UX-элементов
    lh.modal-price__sub-title Базовые функции
    li(class="modal-price__item") Кроссбраузерность (IE11+)
    
block date
  span.modal-price__date-value 21.03.2017
    
