extends /../1 layout/work.layout.jade

block time
  span.modal-price__range-item-value 10
  
block price
  span.modal-price__range-item-value 800

block features
  h2.modal-price__title Верстка бесплатного макета
  ul.modal-price__list
    lh.modal-price__sub-title Проделанная работа
    li(class="modal-price__item") Базовая верстка по макету
    li(class="modal-price__item") Верстка UX-элементов
    li(class="modal-price__item") Оживление верстки (JQuery)
    lh.modal-price__sub-title Интеграция сервисов
    li(class="modal-price__item") Стандартная карта Google
    lh.modal-price__sub-title Базовые функции
    li(class="modal-price__item") Кроссбраузерность (IE11+)
    
block date
  span.modal-price__date-value 16.04.2017