extends /../1 layout/work.layout.jade

block time
  span.modal-price__range-item-value 
  
block price
  span.modal-price__range-item-value 

block features
  h2.modal-price__title
  ul.modal-price__list
    lh.modal-price__sub-title Проделанная работа
    li(class="modal-price__item") Базовая верстка по макету
    li(class="modal-price__item") Верстка UX-элементов
    li(class="modal-price__item") Оживление верстки (JQuery)
    lh.modal-price__sub-title Интеграция сервисов
    li(class="modal-price__item") Стандартная карта Google
    lh.modal-price__sub-title Базовые функции
    li(class="modal-price__item") Кроссбраузерность (IE10+)
    li(class="modal-price__item") Прогрессивное улучшение
    li(class="modal-price__item") Оптимизированная скорость
    li(class="modal-price__item") Адаптивность(mobile-first)
    lh.modal-price__sub-title Дополнительные функции
    li(class="modal-price__item") Семантичность
    li(class="modal-price__item") Пиксель-перфект
    
block date
  span.modal-price__date-value 29.04.2017
    
