extends /../1 layout/work.layout.jade

block time
  span.modal-price__range-item-value 28
  
block price
  span.modal-price__range-item-value 2320

block features
  h2.modal-price__title Вёрстка для wadge.ru
  ul.modal-price__list
    lh.modal-price__sub-title Проделанная работа
    li(class="modal-price__item") Переработка макета inSales
    li(class="modal-price__item") Переработка верстки UX-элементов
    li(class="modal-price__item") Правки интерактивных эл. (JavaScript)
    li(class="modal-price__item") Доработка логотипа
    li(class="modal-price__item") Работа с чужим кодом
    li(class="modal-price__item") Работа на базе inSales
    lh.modal-price__sub-title Интеграция сервисов
    li(class="modal-price__item") Добавление виджетов VK
    lh.modal-price__sub-title Базовые функции
    li(class="modal-price__item") Кроссбраузерность (IE11+)
    li(class="modal-price__item") Адаптивность(mobile-first)
    
block date
  span.modal-price__date-value 29.03.2017
  
    
