.card {
  position: relative;
  
  display: none;
  flex-direction: column;
  max-width: 358px;
  padding: 0 38px 48px 38px;
  margin: 0 0 55px;
  margin-top: 30px;//1
  
  box-shadow: 0 0 40px rgba(0, 1, 5, 0.1);  
  
  &--visible {
    display: flex;
  }

  &--offer {
//    width: 35%;
    display: flex;
    width: 226px;
    padding: 0;
    
    box-shadow: none;
  }
  
  @media (max-width: $screen-lg) {
    margin: 30px auto 55px;
  }
  
  @media (max-width: $screen-xs) {
    padding-left: 18px;
    padding-right: 18px;
    margin-left: 0;
    margin-right: 0;
  }
  
  &__preview {
    position: relative;
    top: -30px;//2
    
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 282px;
    margin-bottom: 0px;//3
    //1, 2, 3, - должны оставаться в исходных пропорциях
    
    &--offer {
      position: static;
    }
  }
  
  &__preview-img {
    &--offer {
      max-width: 119px;
    }
  }
  
  &__name {
    @include font($color-second, 16px);
    
    font-weight: 600;
    text-transform: uppercase;
  }
  
  &__price {
    @include font($color-action-main, 18px);
    
    margin: 14px 0;
    
    font-weight: 700;
  }
  
  &__currency {
    font-size: 14px;
    text-transform: uppercase;
  }
  
  &__descr {
    @include font($color-second, 14px);
    
    margin: 0;
    margin-bottom: 19px;
    
    line-height: 18px;
    font-weight: 300;
  }
  
  &__controls {
    position: absolute;
    bottom: 18px;
    left: 40px;
    right: 30px;
    
    display: flex;
    
    .btn {
      @include margin-right(10px);
    }
    
    @media (max-width: $screen-xs) {
      left: 14px;
      right: 14px;
    }    
  }
}