.page-footer {
  display: flex;
  align-items: center;
  min-height: 71px;
  border-top: 1px solid $gray-dark;
  margin-top: 87px;
  
  &__wrapper {
    @include wrapper;
    
    width: 100%;
  }
  
  &__copyright {
    @include font($color-second, 14px);
    
    line-height: 27px;
    font-weight: 300;
    
    @media (max-width: $screen-sm) {
      display: flex;
      flex-direction: column;
    }
  }
  
  &__copyright-inner {
    margin-left: 4px;
    
    @media (max-width: $screen-sm) {
      margin-left: 0;
    }
  }
}