.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__title {
    @include font-h2($color-second);
    
    margin-bottom: 20px;
    
    text-align: center;
  }
  
  &__promo {
    @include font($color-second, 18px);
    
    margin-bottom: 20px;
    
    text-align: center;
  }
}