.about-me {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
  background-color: $color-main;
  
  &__slider {
    
  }
  
  &__slider-item {
    
  }
  
  &__descr {
    text-transform: none;
    text-align: left;
    
    a {
      color: #aaa;
      
      &:hover {
        color: #ddd;
      }
      
      &:active {
        color: $color-main;
      }
    }
  }
  
  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  &__link {
    $size: 40px;
    
    @include un-target;
    @include react--color($color-second, fade-out($color-second, 0.5));
    
    display: flex;
    width: $size;
    height: $size;
    
    color: fade-out($color-second, 0.3);
    font-size: $size;
    line-height: $size;
    text-align: center;
  }
}