.page-header {
  $color-1: $color-second;
  $color-2: $color-main;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  border-bottom: 12px solid $color-1;
  
  color: $color-1;
  background-color: $color-2;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
  }

  &__nav-link {
    @include un-target;
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    height: 100%;
    padding: 0 20px;
    
    color: $color-1;
    font-family: $font-family--h2;
    font-size: 1.6em;
    line-height: 45px;
  }
  
  &__social {
    @include margin-right(5px);

    display: flex;
  }
  
  &__social-item {
    @include un-target;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 45px;

    color: $color-second;
    font-size: 0;

    i {
      font-size: 35px;
      line-height: 35px;
    }
  }
  
  &__nav-link,
  &__social-item {
    display: flex;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
  }
  
  &__nav-link:before,
  &__social-item:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-second;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }
  
  &__nav-link:hover,
  &__social-item:hover {
    color: $color-main;
  }
  
  &__nav-link:hover:before,
  &__social-item:hover:before {
    transform: scaleY(1);
  }
}



//.hvr-sweep-to-top {
//  display: inline-block;
//  vertical-align: middle;
//  transform: perspective(1px) translateZ(0);
//  box-shadow: 0 0 1px transparent;
//  position: relative;
//  transition-property: color;
//  transition-duration: 0.3s;
//}
//.hvr-sweep-to-top:before {
//  content: "";
//  position: absolute;
//  z-index: -1;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  background: #2098D1;
//  transform: scaleY(0);
//  transform-origin: 50% 100%;
//  transition-property: transform;
//  transition-duration: 0.3s;
//  transition-timing-function: ease-out;
//}
//.hvr-sweep-to-top:hover {
//  color: white;
//}
//.hvr-sweep-to-top:hover:before {
//  transform: scaleY(1);
//}