.social {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 5px;
  margin-right: 15px;
  
  &__item {
    box-sizing: content-box;
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 5px solid $color-main;
    margin-left: 15px;
    
    font-size: 0;

    border-radius: 50%;
    background-color: $color-main;
    
    span {
      display: inline-block;
      width: 35px;
      height: 35px;

      border-radius: 50%;
      background-color: $color-main;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      filter: grayscale(1);

      transition: filter 0.2s ease;
    }
    
    &:hover span {
      filter: none;
    }

    &:active span {
      filter: saturate(4);
    }
    
    &--vk span {
      background-image: url("../img/icons/social/vkontakte.png");
    } 

    &--gmail span {
      background-image: url("../img/icons/social/email.png");
    } 

    &--skype span {
      background-image: url("../img/icons/social/skype.png");
    }

    &--academy span {
      background-image: url("../img/academy-logo.svg");
    }
  }
}