.works {
  padding: 20px 30px 40px;
  margin-bottom: 65px;
  
  background-color: $color-main;
  
  &__list {
    margin-top: -9px;
  }
}

/* ---- grid ---- */

.grid {
  max-width: 1200px;
  
  perspective-origin: 50% 3531px;
  
  li {
    width: 300px;
    padding: 0;
  }
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  position: relative;
  
  width: 300px;
  float: left;
  border: 2px solid #222;
  margin: 0 3.2% 20px 3.2%;
}

.contacts {
  height: 190px;
/*  height: 240px;*/
  color: #fafafa;
  
  background-color: $color-second;
}

.grid-item--height1 {
  height: 713px;
}

.grid-item--height2 {
  height: 444px;
}

.grid-item--height3 {
  height: 788px;
}

.grid-item--height4 {
  height: 523px;
}

.grid-item--height5 {
  height: 408px;
}

.grid-item--height6 {
  height: 685px;
}

.grid-item--height7 {
  height: 950.7px;
}