.banner {
  $screen--title-wrap: 399px;
  
  background-image: url("../img/banner-1.jpg");
  background-color: #333;
  background-repeat: no-repeat;
  background-position: center -77px;
  
  
  
  &__put-background {  
    height: 708px;
    padding-top: 206px;
    border-bottom: 6px solid $color-action-main;
    
    background-color: fade-out($color-second, 0.65);
    
    @media (max-width: $screen-lg) {
      padding-top: 261px;
    }    

    @media (max-width: $screen--title-wrap) {
      padding-top: 315px;
    }

    @media (max-width: $screen-xs) {
      background-position: -800px -77px;
    }
  }
  
  &__wrapper {
    position: relative;
    
    margin-right: 60px;
    
    transform: skewX(20deg);
    
    @media (max-width: $screen-sm) {
      margin-right: auto;
      margin-left: 15px;
      
      transform: skewX(0deg);
    }    
  }
  
  &__title {
    @include font-h1($color-main);
    
    position: absolute;
    top: -70px;
    left: -2px;
    right: -500px;
    
    line-height: 55px;
    
    @media (max-width: $screen-lg) {
      top: -124px;
      right: -400px;
    }
    
    @media (max-width: $screen-sm) {
      top: -178px;
      right: 0;
    }
    
    @media (max-width: $screen--title-wrap) {
      top: -233px;
    }
  }
  
  &__title-separator::before {
    content: "-";
    
    display: none;
    
    @media (max-width: $screen--title-wrap) {
      display: inline;
    }
  }
  
//  &__title {
//    display: flex;
//    flex-grow: 1;
//    width: 100%;
//  }
  
  &__sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 800px;
    padding: 14px 0 36px;
    margin-left: -50px;
    
    background-color: fade-out($color-second, 0.4);
    
    transform: skewX(-20deg);
    
    @media (max-width: $screen-lg) {
      width: 680px;
    }    
    
    @media (max-width: $screen-mp) {
      width: 575px;
    }
    
    @media (max-width: $screen-sm) {
      width: 100%;
      padding-bottom: 0;
      margin-left: 0;
      margin-right: auto;
      
      transform: skewX(0deg);
    }     
  }
  
  &__sub-title {
    @include font-h2($color-action-main);
    
    display: flex;
    margin: -9px 0 27px;
    
    line-height: 43px;
    
    @media (max-width: $screen-sm) {
      text-align: left;
    }
  }
  
  &__features {
    @include un-list;
    
    margin-left: 23px;
    margin-bottom: 30px;
    
    
    
    @media (max-width: $screen-sm) {
      margin-left: 0;
    }     
  }
  
  &__features-item {
    @include font($color-main, 16px);
    @include margin-bottom(15px);
    
    margin: -7.5px 0;
    
    line-height: 31px;
    font-weight: 600;
  }
  
  &__btn {
    margin-left: 12px;
    
    @media (max-width: $screen-sm) {
      position: absolute;
      bottom: -58px;
    }      
  }
}