.slider {
 position: relative;
  
  &__control {
    position: absolute;
    z-index: 1;

    width: 35px;
    height: 22px;
    
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    
    &--left {
      background-image: url("../img/icon-arrow-left.png");
    }
    
    &--right {
      background-image: url("../img/icon-arrow-right.png");
    }
  }
  
  &__pagination {
    @include un-list;
    
    display: flex;
    justify-content: center;
  }
  
  &__pagination-item {
    @include margin-right(5px);
    
    width: 12px;
    height: 12px;
    border: 2px solid $color-action-main;
    
    border-radius: 50%;
    
    &--current {
      background-color: $color-action-main;
    }
  }
}