.products {
  @include wrapper;
  
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  margin-bottom: 65px;
  
  @media (max-width: $screen-sm) {
    margin-bottom: 25px;
  }
  
  &__title {
    @include font-h2($color-second);
    
    text-align: center;
    
    @media (max-width: $screen-lg) {
      margin-top: 65px;
    }
    
    @media (max-width: $screen-sm) {
      margin-top: 45px;
    }  
  }
  
  &__controls {
    display: flex;
    margin: 38px 0 0;
    
    @media (max-width: $screen-lg) {
      justify-content: space-between;
    }
    
    @media (max-width: $screen-mp) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    
    @media (max-width: $screen-sm) {
      margin-left: 15px;
    }
  }
  
  &__controls-item {
//    display: flex;
//    flex-direction: column;
    
    @media (min-width: $screen-lg) {
      @include margin-right(80px);
    }
    
    @media (max-width: $screen-mp) {
      @include margin-bottom(30px);
    }
  }
  
  &__control-label {
    @media (max-width: $screen-sm) {
      display: flex;
      
      margin-bottom: 10px;
    }
  }
  
  &__catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 10px;
    
    &--first {
      @media (max-width: $screen-mp) {
        margin-bottom: 0;
      }
    }
    
    @media (max-width: $screen-sm) {
      display: flex;
      flex-direction: column;
    }
  }
}