doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title Sedona landing
    link(href='css/toast-grid.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
  body
    header.main-header
      nav.main-nav
        .main-nav__container
          button.main-nav__btn-close Закрыть
          p.main-nav__list
            a.main-nav__link(href='#') Информация
            a.main-nav__link(href='#') Фото и видео
            span.main-logo__placeholder
            a.main-nav__link(href='#') Карта штата
            a.main-nav__link(href='#') Гостиницы
        img.main-logo(src='img/logo.png', alt='SEDONA')
        button.main-nav__btn-open Меню
    main
      .text-field.text-field--promo
        b.text-field__main
          | Седона — небольшой городок в аризоне,
          br
          | Заслуживающий большего!
        p.text-field__secondary Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!
      .photo-card
        .photo-card__description.reason
          b.reason__title
            | Настоящий
            br
            | Городок
          span.reason__number №1
          p.reason__description Седона — не аттракцион для туристов, там течет своя жизнь
        .photo-card__illustration
          img(src='img/galery-pictr-1.jpg', alt='sedona-photo')
      .features
        .features__item
          b.features__title Жилье
          p.features__description Рекомендуем пожить в настоящем мотеле, все как в кино!
        .features__item
          b.features__title Еда
          p.features__description Всегда заказывайте фирменный бургер, вы не разочаруетесь!
        .features__item
          b.features__title Сувениры
          p.features__description Не только китайского, но и местного производства!
      .photo-card
        .photo-card__description.reason
          b.reason__title
            | Там есть
            br
            | мост дьявола
          span.reason__number №2
          p.reason__description Да, по нему можно пройти! Если конечно вы осмелитесь
        .photo-card__illustration
          img(src='img/galery-pictr-2.jpg', alt='sedona-photo')
      .reasons-list
        .reasons-list__item.reason
          b.reason__title
            | Небольшая
            br
            | площадь
          span.reason__number №3
          p.reason__description Все достопримечательности находятся очень близко
        .reasons-list__item.reason
          b.reason__title
            | Красивая
            br
            | дорога
          span.reason__number №4
          p.reason__description Ехать в седону из Лас-Вегаса совсем не скучно!
        .reasons-list__item.reason
          b.reason__title
            | Мало
            br
            | туристов
          span.reason__number №5
          p.reason__description Большинство едет в гранд каньон и толпится там
      .text-field.text-field--question
        b.text-field__main Заинтересовались?
        p.text-field__secondary
          | Укажите предполагаемые даты поездки,
          br
          | и мы покажем вам лучшие предложения гостиниц в седоне
        .hotel-order
          button.hotel-order__btn-toggle.js-toggle(type='button') Поиск гостиницы в Седоне
          form.hotel-order__form.form.js-container(action='echo.htmlacaddemy.ru', method='post')
            .form__item
              label(for='date-come') Дата заезда:
              input#date-come.input--date(type='text', name='date-come', placeholder='13.04.2017')
            .form__item
              label(for='date-out') Дата выезда:
              input#date-out.input--date(type='text', name='date-come', placeholder='13.04.2017')
            .form__fieldset
              .form__item--1-of-2
                label(for='adults-count') Взрослые:
                .counter
                  button.counter__count-down(type='button')
                  input#adults-count.counter__output(type='text', placeholder='1')
                  button.counter__count-up(type='button')
              .form__item--1-of-2
                label(for='kids-count') Дети:
                .counter
                  button.counter__count-down(type='button')
                  input#adults-count.counter__output(type='text', placeholder='2')
                  button.counter__count-up(type='button')
            button.hotel-order__form-submit(type='button') Найти
      .map
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1891.5997288419665!2d-111.7766424698608!3d34.84372660892251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcc7efe98500fdb94!2sPoco+Diablo+Resort!5e0!3m2!1sru!2sru!4v1492345792588', width='100%', height='475', frameborder='0', style='border:0', allowfullscreen='')
    footer.main-footer
      .main-footer__wrapper
        span.tag #visitsedona
      .main-footer__wrapper
        p.social
          a.social__item(href='#') Твиттер
          a.social__item(href='#') Фейстбук
          a.social__item(href='#') Ютьюб
      .main-footer__wrapper
        .creators
          span.creators__text website by
          a.creators__link(href='#')
    script(src='js/libs.min.js')
    script(src='js/main.js')

include /../1 var/var-sedona-adaptive-landing.jade